form{
    margin-top: 35px;
}


.navbar {
    height: 75px;
    background: rgba(255, 255, 255, 0.4); 
}

.jumbotron {
    height: 200px;
}


.container {
    font-family: 'Bahianita', cursive;
    font-family: 'Yantramanav', sans-serif;
}

.text{
    color: black;
    font-size: 24px;
    padding: 16px 32px;
}

.form-group{
    margin: 0 auto;
    width: 50%;
    font-family: 'Bahianita', cursive;
    font-family: 'Yantramanav', sans-serif;
}

#resume-link{
    font-size: 16px;
}

#about-me{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 50%;
    font-family: 'Bahianita', cursive;
    font-family: 'Yantramanav', sans-serif;
}

#resume{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 50%;
    font-family: 'Bahianita', cursive;
    font-family: 'Yantramanav', sans-serif;
    text-decoration: none;
    color: black;
}


#deploy-link-one{
    text-decoration: none;
}

#code-link-one{
    text-decoration: none;
    color: black;
}

#deploy-link-two{
    text-decoration: none;
}

#code-link-two{
    text-decoration: none;
    color: black;
}

#deploy-link-three{
    text-decoration: none;
}

#code-link-three{
    text-decoration: none;
    color: black;
}

#deploy-link-four{
    text-decoration: none;
}

#code-link-four{
    text-decoration: none;
    color: black;
}

#name{
    font-size: 24px;
}


#container-one {
    position: relative;
}

#contact-title{
    margin-top: 50px;
    background-color:transparent !important;
    font-family: 'Bahianita', cursive;
    font-family: 'Yantramanav', sans-serif;
    height: 50px;
    margin-bottom: 5px;
}

#self-image{
    max-width: 200px;
    max-height: 200px;
    margin-top: 100px;
    
}

#about-title{
    margin-top: 0px;
    background-color:transparent !important;
    font-family: 'Bahianita', cursive;
    font-family: 'Yantramanav', sans-serif;
    height: 50px;
    margin-bottom: 5px;
}

#container-two{
    position: relative;
}

#container-three{
    position: relative;
}

#container-four{
    position: relative;
}
  
#work {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    height: 200px;
    margin-top: 100px;
    background-image: url('../images/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#work-rabbits {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    height: 200px;
    margin-top: 100px;
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#work-train {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    height: 200px;
    margin-top: 100px;
    background-image: url('../images/TrainPhoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#work-gif {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    height: 200px;
    margin-top: 100px;
    background-image: url('../images/gundam-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#work-friend {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    height: 200px;
    margin-top: 100px;
    background-image: url('../images/Friends.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#about {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    height: 200px;
    background-image: url('../images/bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#icon-links{
    text-decoration: none;
    color: black;
}

#contact{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    height: 200px;
    background-image: url('../images/bg-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  
#middle-one {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#middle-two {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#middle-three {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#middle-four {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}
  
  
#container-one:hover #work { 
    opacity: 0.3;
}

#container-one:active #work {
    opacity: 0.3;
}

#container-two:hover #about {
    opacity: 0.3;
}

#container-three:hover #contact {
    opacity: 0.3;
}
  
#container-one:hover #middle-one {
    opacity: 1;
}

#container-two:hover #middle-two {
    opacity: 1;
}

#container-three:hover #middle-three {
    opacity: 1;
}

#container-four:hover #middle-four {
    opacity: 1;
}

#submit{
    margin-bottom: 50px;
    font-family: 'Bahianita', cursive;
    font-family: 'Yantramanav', sans-serif;
    padding: 5px 10px;
    color: black;
}


@media screen and (max-width: 980px) {
   
  
}
  

@media screen and (max-width: 768px) {
    
  
}
  
  
  @media screen and (max-width: 640px) {
    
#middle-one{
    transition: none;
    opacity: 1;
}

#work{
    opacity: 0.3;
}



      
}